# Sensitive credentials
.env
adna_backend/firebase_admin_sdk.json
adna_backend/gsheet_credentials.json
usage.db

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS metadata
.DS_Store
Thumbs.db

.streamlit/secrets.toml
